# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
precompiled_header.h.gch-*

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Mac messes
Icon[\r]
.DS_Store
Icon???
# CLion crap
.idea
cmake-build-debug/
builds/
build/
# Emacs eruptions
\#*\#
